html{
  scroll-behavior: smooth;
}
body{
  background-color: #4ECBD9;
  margin: 0;
}
button{
  border: none;
}
.text{
  color:white;
}
.padding-text{
  padding: 20px 90px;
}
#full-description{
  padding:0px 100px;
}
#more{
  display: none;
}
.parent{
  position: fixed;
  margin: auto;
  width: 100%;
}
.contact-tile i{
  margin-right: 8px;
}
nav{
  background-color: #0C3640;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  font-size: 20px;
}
a{
  color: white;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}
nav a{
  padding: 1.5vw;
}
.full-screen{
  height: 100vh;
  max-width: 100%;
  padding:5em;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.dark-blue{
  background-color: #268EA6;
}
#projects a{
  text-decoration: none;
  border: 0;
  display:block;
  height: 100%;
  width: 100%;
}
h1{
  font-size: 50px;
  color: white;
  text-align: center;
}
h2{
  font-style: italic;
  color: white;
}
#projects-section h1{
  padding: 2vw;
  text-align: center;
  padding-top: 70px;
}
#projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3vw;
  flex-wrap: wrap;
}

.project-tile{
  max-width: 100%;
  height: auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #0C3640;
  margin: 1vw;
  padding: 0 0 1vw 0;
  color: white;
  box-shadow: 0 20px 25px rgba(0,0,0,0.18), 0 6px 6px rgba(0,0,0,0.23);
}
.project-img{
  object-fit: contain;
  vertical-align: center;
}
.project-text{
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  transition: 0.5s;
}
.project-text:hover{
  color: #FD8703;
}
.button{
  background-color: #0C3640;
  padding: 20px;
  text-align:center;
  max-width 20%;
  height: auto;
  font-size: 20px;
  transition: 0.5s;
  margin: 15px;
}
.button:hover{
  background-color: #A62F03;
}
#contact h1{
}
.show-all{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-tile{
  display: flex;
  flex-direction: row-reverse;
  font-size: 25px;
  animation-name: reverse;
  animation-duration: 500ms;
}
.contact-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 80px;
}
.contact-tile a{
  color: black;
  margin-right: 20px;
}
/*
.contact-tile:hover{
  animation-fill-mode: forwards;
  animation-name: move;
  animation-duration: 150ms;

}
@keyframes move {
  from{
    margin-top: 0;
  }
  to{
    margin-top: 10px;
  }
}
@keyframes reverse {
  from{
    margin-top: 10px;
  }
  to{
    margin-top: 0;
  }
}
*/ /* FIXME */
footer{
  background-color: #0C3640;
  height: 10vh;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
footer p{
  margin-right: 15px;
}
@media screen and (max-width: 1000px) {
  .contact-list{
    margin: 10px 40px;
  }
}
@media screen and (max-width: 796px) {
  .full-screen{
    padding: 0;
  }
  #projects{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-tile{
    width: 80%;
  }
  .contact-list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-tile{
    margin-bottom: 10px;
  }
}
