nav{
  background-color: #565B99;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  font-size: 1.6vw;
}
nav a{
  color: white;
  font-style: normal;
  text-decoration: none;
  padding: 1.5vw;
  font-size:
}



@media screen and (max-width: 767px) {

}
